<h2>{{hero.name | uppercase}} Details</h2>

<div><span>id: </span>{{hero.id}}</div>
<div>
  <label>name: 
    <input [(ngModel)]="hero.name" placeholder="name"/>
  </label>
</div>

<div>
  <h2>My Heroes</h2>
  <ul class="heroes">
    <li *ngFor="let h of heroes" >
      <a routerLink="/detail/{{h.id}}">
        <span class="badge">{{h.id}}</span> {{h.name}}
      </a>
    </li>
  </ul>
</div>

<div *ngIf="isShowSelect">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name"/>
    </label>
  </div>
</div>