  <div class="w3-container w3-padding-16 w3-light-grey w3-margin w3-round-large">
    <form class="w3-container">
    <div class="w3-container w3-green">
      <!-- Jobs name here -->
      <h4>{{{ 1 }}}</h4>
      <!-- Job id here-->
      <a>{{{ 2 }}}</a>
    </div>
      <p>
        <!-- Command @ crontab -->
        <a class="w3-border-bottom">{{{ 3 }}} @ {{{ 4 }}}</a>
      </p>
      <p>
        <!-- Log -->
        <a>{{{ 5 }}}</a>
      </p>
      <button type="button" onclick="window.location.href='logs.html'" class="w3-button w3-red w3-margin-bottom w3-right">Return</button>
    </form>
  </div>
