  <div class="w3-container w3-padding-16 w3-light-grey w3-margin w3-round-large">
    <form class="w3-container">
    <div class="w3-container w3-green">
      <!-- Jobs name here -->
      <h4>{{{ 1 }}}</h4>
      <!-- Jobs id here -->
      <a>{{{ 2 }}}</a>
    </div>
      <p>
        <!-- Command @ crontab -->
        <a class="w3-border-bottom">{{{ 3 }}} @ {{{ 4 }}}</a>
      </p>
      <p>
        <!-- Partially log here -->
        <a>{{{ 5 }}}</a>
      </p>
      <!-- detail-job_id -->
      <button type="button" name="{{{ 6 }}}" class="w3-button w3-red w3-margin-bottom w3-right">Detail</button>
      <!-- delete-job-id -->
      <button type="button" name="{{{ 7 }}}" class="w3-button w3-red w3-margin-bottom w3-left">Delete</button>
    </form>
  </div>
